[Unit]
Description=Wikipedia Speedrun Build
After=network.target

[Service]
ExecStart=/usr/local/bin/wikipedia-speedrun-tool pull
EnvironmentFile=/etc/wikipedia-speedrun
RemainAfterExit=yes
Type=oneshot
User=speedrun
Group=speedrun

