[Unit]
Description=Wikipedia Speedrun Build
After=network.target

[Service]
ExecStart=/usr/local/bin/wikipedia-speedrun-tool --data-path /var/wikipedia-speedrun/data pull
EnvironmentFile=/etc/wikipedia-speedrun
Type=oneshot
User=speedrun
Group=speedrun
ExecStartPost=+/usr/bin/systemctl restart wikipedia-speedrun.service


