[Unit]
Description=Wikipedia Speedrun
After=network.target

[Service]
ExecStart=/usr/local/bin/wikipedia-speedrun
EnvironmentFile=/etc/wikipedia-speedrun
Type=simple
User=speedrun
Group=speedrun
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
