[Unit]
Description=WikiWalk
After=network.target

[Service]
ExecStart=/usr/local/bin/wikiwalk
ExecStopPost=/usr/local/bin/wikiwalk-monitor
EnvironmentFile=/etc/wikiwalk.conf
Type=simple
User=wikiwalk
Group=wikiwalk
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
