[Unit]
Description=Wikipedia Speedrun
After=network.target

[Service]
ExecStart=/usr/local/bin/wikipedia-speedrun
ExecStopPost=/usr/local/bin/wikipedia-speedrun-monitor
EnvironmentFile=/etc/wikipedia-speedrun
Type=simple
User=speedrun
Group=speedrun
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
