[Unit]
Description=Wikipedia Speedrun ACME TLS
After=network.target

[Service]
ExecStart=/usr/local/bin/wikipedia-speedrun-certs
Type=oneshot
ExecStartPost=+/usr/bin/systemctl restart wikipedia-speedrun.service

[Install]
WantedBy=multi-user.target

