[Unit]
Description=Wikipedia Speedrun Build
After=wikipedia-speedrun.target

[Service]
ExecStart=/usr/local/bin/wikipedia-speedrun-watchdog
Environment=DATA_PATH=/var/wikipedia-speedrun/data
Restart=on-failure
RestartSec=5m

[Install]
WantedBy=multi-user.target
