body {
  font-family: 'Roboto Mono', monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}

footer {
  display: flex;
  justify-content: flex-end;
}
